@import './_extend.scss';
@import './_variables.scss';

@import '~bootstrap/scss/bootstrap';

@media (min-width: 768px) {
  .centre-page {
    margin: 40vh auto 0 auto;
  }
}

.ReactTable .-even {
  background-color: $table-bg;
}

.ReactTable .rt-thead {
  background-color: $table-bg;
}

.ReactTable .rt-head .rt-th {
  background-color: $table-bg;
}

.fish-toast {
  height: 20vh;
  overflow-y: scroll;
}
